@tailwind base;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, retro, cupcake;
}
@import "tailwindcss";



.title {
  font-size: 48px;
  font-weight: 800;
}

.extra-space {
  padding: 32px;
}

